
  @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: "Poppins";
    
}
body{
    overflow-x: hidden;
}
/*----------------home-----------*/
.home{
    width: 100%;
    height: 100vh; 
    background-image: url(images/Rectangle\ 1amlou.png);
    background-size: cover;
    
    
}

    /*---------nav-bar-----------*/
.top-area{
   
    display: flex;
    justify-content: space-between;
    
    align-items: center;
}
.logo-nav{
   margin-left: 5%;
    width: 10%;
    height: 80px;
}
.logo-nav img{
    width: 50%;
    height: 100%;
}
.navbar{
    display: flex;
    justify-content: space-between;
    margin-right:30px ;
   
}
.navbar ul {
   list-style: none;
   display: flex;
}
.navbar .active{
    color: #9B5615;
}
.navbar ul li a{
    padding: 30px;
    text-decoration: none;
    font-weight: 700;
    color: whitesmoke;
}
.navbar ul li a:hover{
 color: #9B5615;
}
.contact a {
   
    border: #9B5615 solid 2px;
    padding: 5px 25px;
    border-radius: 5px;
    text-decoration: none;
    color: white;
    font-weight: 700;
}
.contact a:hover{
    background-color: #9B5615;
}

/*----------------------home-contact----------------*/

.home-content{
    color: white;
    padding-top: 10%;
    padding-left: 5%;
}
.home-content h1{
    font-size: clamp(30px, 5vw , 60px);
    width: 60%;
}
.home-content p{
    font-size: clamp(10px, 2vw , 16px);
    padding-top: 2%;
    width: 45%;
}
.home-content div{
    margin-top: 5%;
}
.home-content a{
    text-decoration: none;
    color: white;
    background-color: #9B5615;
    padding: 10px 50px;
    border-radius: 5px;
   
}
.home-content a:hover{
    background-color: white;
    border: 2px solid #9B5615;
    color:#9B5615 ;
}
/*-------------------welcome-to-store--------------*/
.welcome-store{
    height: 400px;
    width: 100%;
    display: flex;
    justify-content: space-around;
}
.side-image{
    width: 50%;
    height:300px ;
}
.side-content{
    padding-top: 10%;
    padding-left: 20%;
}
.side-content h1{
    color: #FDC17A;
    font-size: clamp(10px, 3vw , 60px);
    width: 90%;
}
.side-content p{
    font-size: clamp(5px, 2vw , 16px);
    padding-top: 2%;
    width: 70%;
    color:#9B5615 ;
}
.side-content div{
    margin-top: 10%;
}
.side-content a{
    text-decoration: none;
    color: white;
    background-color: #9B5615;
    padding: 10px 50px;
    border-radius: 5px;
}
.side-content a:hover{
    background-color: white;
    border: 2px solid #9B5615;
    color:#9B5615 ;
}
/*--------------------costumers-content-------------*/
.costumers-say{
    width: 100%;
    height: 600px;
}
.costumers-say h1{
    text-align: center;
    padding-top: 10%;
    color: #FDC17A;
    font-size: clamp(10px, 3vw , 60px);

}
.costumers-content{
    display: flex;
    justify-content: space-around;
    
    padding-top: 5%;
}
.costumers-content div{
    width: 25%;
    height: 250px;
    box-shadow: 0px 0px 17px 1px #0000002e;
    text-align: center;
    color: #9B5615;
}
.costumers-content div:hover{
    background-color: #FDC17A;
}
.costumers-content div p{
    font-size: clamp(5px, 2vw , 16px);
    padding-top:25% ;
}
/*-----------------------footer---------------------*/
.footer{
    width: 100%;
    height: 300px;
    padding-top: 5%;
    display: flex;
    justify-content: space-around;
    background-image: url(images/Rectangle\ 14.svg);
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
}
.logo-foo{
    width: 20%;
    height: 200px;
}

.footer ul{
    list-style: none;
}
.footer li{
    padding-top: 10%;
}
.footer li a{
    text-decoration: none;
    color: white;
    font-size: clamp(5px, 2vw , 16px);
}
.footer p{
    padding-top: 5%;
    font-size: clamp(5px, 2vw , 16px);
}

/*-------------------responsive------------------*/

@media  (max-width: 426px) {
    .navbar{
        display: none;
    }
    .logo-nav{
        width: 30%;
    }
    .home{
        background-position: 50% 50%;
        width: 100%;
        height: 400px;
    }
    .home-content h1{
        width: 80%;
    }
    .home-content p{
        width: 90%;
    }
    .home-content a{
        padding: 10px 20px;
        margin-top: 5px;
        font-size: 10px;
    }
    .welcome-store{
        width: 100%;
        height: 250px;
    }
    .side-image{
        width: 80%;
        
    }
    .side-image img{
        width: 100%;
        height: 150px;
    }
    .side-content p{
        width: 90%;
    }
    .side-content a{
        padding: 10px 20px;
        margin-top: 5px;
        font-size: 10px;

    }
    .costumers-say{
        height: 450px;
    }
    .costumers-content{
       display: block;
    }
    .costumers-content div{
        width: 80%;
        height: 100px;
        margin: 10px 40px;
       
    }
    .costumers-content div p{

        padding-top: 15%;
        
    }
    .logo-foo{
        width: 20%;
        height: 120px;
    }
    .logo-foo img{
        width: 100%;
        height: 100%;
    }
    .footer{
        width: 100%;
        height: 200px;
    }
}

/*------------Tablete------------*/

@media  (min-width: 427px  ) and (max-width: 1023px) {
    .navbar{
        display: none;
    }
    .logo-nav{
        width: 20%;
    }
    .home{
        
        width: 100%;
        height: 500px;
    }
    .home-content h1{
        width: 80%;
    }
    .home-content p{
        width: 90%;
    }
    
    .welcome-store{
        width: 100%;
        height: 300px;
    }
    .side-image{
        width: 100%;
        height: 250px;   
    }
    .side-image img{
        width: 100%;
        
    }
    .side-content{
        padding: 10%;
    }
    .side-content p{
        width: 100%;
    }
    .costumers-say{
        height: 850px;
    }
    .costumers-content{
       display: block;
    }
    .costumers-content div{
        width: 80%;
        height: 200px;
        margin: 15px 80px;
       
    }
    .costumers-content div p{

        padding-top: 10%;
        
    }
    .logo-foo{
        width: 20%;
        height: 180px;
    }
    .logo-foo img{
        width: 100%;
        height: 100%;
    }
    .footer{
        width: 100%;
        height: 250px;
    }
}


