
  @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: "Poppins";
    
}
/*----------------home-----------*/
.home{
    width: 100%;
    height: 100vh; 
    background-image: url(images/Rectangle\ 1amlou.png);
    background-size: cover;
    
}

    /*---------nav-bar-----------*/
.top-area{
   
    display: flex;
    justify-content: space-between;
    
    align-items: center;
}
.logo{
   margin-left: 5%;
    width: 10%;
    height: 80px;
}
.logo img{
    width: 50%;
    height: 100%;
}
.navbar{
    display: flex;
    justify-content: space-between;
    margin-right:30px ;
   
}
.navbar ul {
   list-style: none;
   display: flex;
}
.navbar .active{
    color: #9B5615;
}
.navbar ul li a{
    padding: 30px;
    text-decoration: none;
    font-weight: 700;
    color: whitesmoke;
}
.navbar ul li a:hover{
 color: #9B5615;
}
.contact a {
   
    border: #9B5615 solid 2px;
    padding: 5px 25px;
    border-radius: 5px;
    text-decoration: none;
    color: white;
    font-weight: 700;
}
.contact a:hover{
    background-color: #9B5615;
}

/*----------------------home-contact----------------*/

.home-content{
    color: white;
    padding-top: 10%;
    padding-left: 5%;
}
.home-content h1{
    font-size: 60px;
    width: 60%;
}
.home-content p{
    padding-top: 2%;
    width: 45%;
}
.home-content div{
    margin-top: 5%;
}
.home-content a{
    text-decoration: none;
    color: white;
    background-color: #9B5615;
    padding: 10px 50px;
    border-radius: 5px;
}
/*-------------------welcome-to-store--------------*/

