@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: "Poppins";
    
}
body{
    
    overflow-x: hidden;
   
}
   /*---------nav-bar-----------*/
   .top-area{
   
    display: flex;
    justify-content: space-between;
    background-color: #FDC17A;
    align-items: center;
}
.logo-nav{
   margin-left: 5%;
    width: 10%;
    height: 80px;
}
.logo-nav img{
    width: 50%;
    height: 100%;
}
.navbar{
    display: flex;
    justify-content: space-between;
    margin-right:30px ;
   
}
.navbar ul {
   list-style: none;
   display: flex;
}
.navbar .active{
    color: #9B5615;
}
.navbar ul li a{
    padding: 30px;
    text-decoration: none;
    font-weight: 700;
    color: whitesmoke;
}
.navbar ul li a:hover{
 color: #9B5615;
}
.contact a {
   
    border: #9B5615 solid 2px;
    padding: 5px 25px;
    border-radius: 5px;
    text-decoration: none;
    font-weight: 700;
}
.contact a:hover{
    background-color: #9B5615;
    color: white;
}
.burger-menu{
    display: none;
}
/*---------------------Contact-content-----------------*/

.contact-content{

    display: flex;
    margin-top: 5%;
}

.info-entrer{
   
    margin-left:15%;
    width: 50%;
  
    
    }

.info-entrer h1{
    font-weight: bold;
    font-size:60px;
    padding-left: 15%;
    color:#FDC17A;
    font-size: clamp(20px,3vw,50px);
}
.info-entrer p{
    padding-top: 5%;
    font-family: sans-serif;
    font-size: clamp(10px, 2vw , 16px);
    color:#9B5615;
    
    
}
.info-entrer input{
    margin-bottom: 3%;
    width: 500px;
    background-color: #FDC17A;
    height: 40px;
    font-size: 15px;
    color: #7d3f05;
    border-radius: 5px;
    border: 0;
    
    
}
input.invalid{
    border: 2px solid red;

}
.info-entrer .errorMessage {
    color: red;
    font-size: 16px;
    font-weight: 700;
    margin-bottom: 10px;
}
input.valid{
    border: 2px solid green;
   
}
.info-entrer input:focus{
    outline: none;
    border: 2px solid #9B5615;
    background-color: #FDC17A;
   
 }
 .info-entrer textarea{
    width: 500px;
    height: 150px;
    
    background-color: #FDC17A;
    border: 0;
    border-radius: 5px;
    color: #7d3f05;
    
    
 }
 .info-entrer textarea:focus{
    outline: none;
    border: 2px solid #9B5615;
    background-color: #FDC17A;
 }
 form button{

    margin-top: 10%;
    padding: 10px 140px;
    color: white;
    background-color: #9B5615;
    border: 0;
    margin-left: 15%;
    font-weight: bold;
    font-size: clamp(10px, 2vw , 20px);
    border-radius: 5px;
    cursor: pointer;
 }
.image{
   
    background-image: url(/images/contact-remove-bg.png);
    background-size: cover;
    width: 70%;
    height: 600px;
    
}

/*-----------------------footer---------------------*/
.footer{
    margin-top: 5%;
    width: 100%;
    height: 300px;
    padding-top: 5%;
    display: flex;
    justify-content: space-around;
    background-image: url(/images/Rectangle\ 14\ \(1\).png);
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
}
.logo-foo{
    width: 20%;
    height: 200px;
}

.footer ul{
    list-style: none;
}
.footer li{
    padding-top: 10%;
}
.footer li a{
    text-decoration: none;
    color: white;
    font-size: clamp(5px, 2vw , 16px);
}
.footer p{
    padding-top: 5%;
    font-size: clamp(10px, 2vw , 16px);
}
/*-------------------responsive------------------*/

@media  (max-width: 1023px )  {
    .navbar  ul{
        display: block;
    }
    .navbar {
        display: block;
        position: absolute;
        top: 0;
        left: -100%;
        width: 80vw;
        height: 100vh;
        background-color: #FDC17A;
        border: 2px solid #9B5615;
    }
    .navbar.showburger {
        left: 0;
        transition-duration: 1s;
    }
    .navbar  ul:first-child{
        margin-top: 40px;
    }
    .navbar  ul li{
        margin-bottom: 30px;
    }
    .navbar .contact a{
        margin-left: 30px;
       
       
    }
    /*---fin-responsive-burger----*/
    .logo-nav{
        width: 20%;
    }
    .burger-menu{
        display: block;
        padding-right: 2%;
    }
    .contact-content{
        display: block;
    }
   .image{
    display: none;
   }
   .info-entrer {
    margin-left: 1%;
    width: 99%;
    background-image: url(/images/contact-remove-bg.png);
    background-repeat: no-repeat;
    background-position: 30% 10%;
   }
   .info-entrer h1{
    text-align: center;
    padding-left: 0;
   }
  
   form{
    padding-top: 5%;
   }
   .info-entrer input{
    width: 98%;
    margin-bottom: 0;
    
   }
   .info-entrer textarea {
    width: 98%;
   }
   form button{
    margin-left: 0;
    padding: 10px 40px;
   }
    .logo-foo{
        width: 20%;
        height: 120px;
    }
    .logo-foo img{
        width: 100%;
        height: 100%;
    }
    .footer{
        width: 100%;
        margin: 0;
        height: 250px;
    }
}

   


/*------------Tablete------------*/

@media  (min-width: 700px ) and (max-width: 1022px ){
    .info-entrer input{
        width: 50%;
        
       }
       .info-entrer textarea {
        width: 50%;
       }
       .info-entrer {
        margin-left: 1%;
        width: 99%;
        background-image: url(/images/contact-remove-bg.png);
        background-repeat: no-repeat;
        background-position: 160% 30%;
       }
}

@media  (max-width:  400px) {
    
    .navbar  ul{
        display: block;
    }
    .navbar {
        display: block;
        position: absolute;
        top: 0;
        left: -100%;
        width: 80vw;
        height: 100vh;
        background-color: #FDC17A;
    }
    .navbar.showburger {
        left: 0;
        transition-duration: 1s;
    }
    .navbar  ul:first-child{
        margin-top: 40px;
    }
    .navbar  ul li{
        margin-bottom: 30px;
    }
    .navbar .contact a{
        margin-left: 30px;
       
        background-color: #9B5615;
    }
    /*---fin-responsive-burger----*/
    .logo-nav{
        width: 50%;
    }
    .burger-menu{
        display: block;
        padding-right: 2%;
    }
    
    .logo-foo{
        width: 30%;
        height: 120px;
    }
   
}