@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: "Poppins";
    
}
   /*---------nav-bar-----------*/
   .top-area{
   
    display: flex;
    justify-content: space-between;
    background-color: #FDC17A;
    align-items: center;
}
.logo-nav{
   margin-left: 5%;
    width: 10%;
    height: 80px;
}
.logo-nav img{
    width: 50%;
    height: 100%;
}
.navbar{
    display: flex;
    justify-content: space-between;
    margin-right:30px ;
   
}
.navbar ul {
   list-style: none;
   display: flex;
}
.navbar .active{
    color: #9B5615;
}
.navbar ul li a{
    padding: 30px;
    text-decoration: none;
    font-weight: 700;
    color: whitesmoke;
}
.navbar ul li a:hover{
 color: #9B5615;
}
.contact a {
   
    border: #9B5615 solid 2px;
    padding: 5px 25px;
    border-radius: 5px;
    text-decoration: none;
    color: white;
    font-weight: 700;
}
.contact a:hover{
    background-color: #9B5615;
}
/*----------------etape-production---------------*/
.etape-production{

    width: 100%;
    height: 900px;
    position: relative;
}
h1{
    color: #FDC17A;
    font-size: 40px;
    width: 50%;
    margin-top: 5%;
    padding-left: 30%;
}
         /*-----line-etape----*/
.line{
    border-right:2px solid #9B5615 ;
    height: 550px;
    position: absolute;
    left: 50%;
    top: 20%;
   
}

.disk{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #9B5615;
}
.disk1{
    position: absolute;
    top: 20%;
    left: 49.5%;
}
.disk2{
    position: absolute;
    left: 49.5%;
    top: 40%;
}
.disk3{
    position: absolute;
    left: 49.5%;
    top: 60%;
}
.disk4{
    position: absolute;
    left: 49.5%;
    top: 80%;
}
        /*-----------etapes---------*/
.etape{
    width: 30%;
    text-align: center;
    padding: 20px;
    background-color: #FDC17A;
    border-radius: 5px;
    box-shadow: 0px 0px 11px 0px rgb(0 0 0 / 35%);
   
    
}
.etapesec{
    opacity: 0; 
    transition: opacity 0.5s;
}
.fade-in {
    transition-duration: 1s;
    opacity: 1;
  }
.etape1{
    position: absolute;
    left: 10%;
    top: 12%;
}
.etape2{
    position: absolute;
    left: 60%;
    top: 30%;
}
.etape3{
    position: absolute;
    left: 10%;
    top: 52%;
}
.etape4{
    position: absolute;
    left: 60%;
    top: 72%;
}

  /*-----------------------footer---------------------*/
  .footer{
    margin-top: 5%;
    width: 100%;
    height: 300px;
    padding-top: 5%;
    display: flex;
    justify-content: space-around;
    background-image: url(/images/Rectangle\ 14.svg);
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
}
.logo-foo{
    width: 20%;
    height: 200px;
}

.footer ul{
    list-style: none;
}
.footer li{
    padding-top: 10%;
}
.footer li a{
    text-decoration: none;
    color: white;
}
.footer p{
    padding-top: 5%;
}
